.Drawer {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  transform: translateY(200px);
}
.backdrop .active {
  transform: translate(10px);
}

.Drawer .content {
  position: relative;
  top: 0;
  left: 0;

  /* transform: translate(0px); */
}

.Drawer .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 1; */

  /* border: 2px solid red; */
  
  background-color: rgba(6, 6, 6, 0.133);
}
.Drawer .list {
  position: absolute;
  top: 0;
  right: 30%;
  left: 30%;

  z-index: 1;
/* 
  border: 2px solid blue; */
  
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.list li a {
  color: black;
  text-decoration: none;

  font-size: 25px;
}

